//-
  name?: string - name of like button
  counter: number - number of init likes
  checked?: boolean - same as input checked
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-like-button({ name = 'like', counter = -1, checked = false } = {})
  .form-like-button.js-form-like-button&attributes(attributes)
    input.form-like-button__button.js-form-like-button__button(
      type="checkbox",
      name=name,
      checked=checked,
      title="нравится"
    )
    span.form-like-button__counter.js-form-like-button__counter= counter
