include ~@common.blocks/primitives/card-datepicker/card-datepicker.pug

mixin form-dropdown__datepicker
  button.form-dropdown__datepicker-btn(id=attributes.id, class=attributes.class, type="button")
    if !attributes.isAltField
      +card-datepicker.form-dropdown__datepicker(
        isFilter=attributes.isFilter,
        altFields=attributes.altFields,
        name=attributes.name,
        selected-dates=attributes['selected-dates'],
        data-range=attributes['data-range']
      )
    else
      input(
        type="hidden",
        name=attributes.name,
        value=attributes['selected-dates'],
        isFilter=attributes.isFilter ? attributes.isFilter + '' : null
      )
    p.form-dropdown__selection-text
      time(
        datetime=attributes['selected-dates'],
        placeholder=attributes.placeholder || (attributes['data-range'] && !attributes.altFields) ? 'День месяц - день месяц' : 'ДД.ММ.ГГГГ'
      )
