//- components
include ~@common.blocks/primitives/form-like-button/form-like-button.pug

//- mixins
include ~@pug/mixins/picture.pug

//- items: {
  id1:{
    personName:string,
    iconPath:string,
    date:datestring,
    content:string,
    likeButtonCounter:number,
    isLikeButtonChecked
  },
  id2:{
    personName:string,
    iconPath:string,
    date:datestring,
    content:string,
    likeButtonCounter:number,
    isLikeButtonChecked
  },...}
//- id?: id of comments' container
//- class?: class for component bem mix: such as positioning functionality
//- label?: {tag: text}, example: {h2: "my label"}

mixin comments
  - const labelKey = attributes.label ? Object.keys(attributes.label)[0] : null;
  .comments(id=attributes.id, class=attributes.class)
    if labelKey
      #{labelKey}.form-label
        label(for=attributes.id)= attributes.label[labelKey]
    each item, key in attributes.items
      .comments__item
        +picture.comments__icon-item(path=item.iconPath, alt="Иконка комментирующего")
        .comments__source-item
          h3.comments__name-item= item.personName
          p.comments__date-item
            time(datetime=item.date)
        p.comments__content-item= item.content
        +form-like-button.comments__like-button-item(
          id=key + '__like-button',
          name=key + '__like-button',
          counter=item.likeButtonCounter,
          checked=item.isLikeButtonChecked
        )
