include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/picture/picture.pug
include ~@common.blocks/primitives/form-like-button/form-like-button.pug

//-
  heading?: see mixin heading
  headingMarginBottom?: marginBottom in mixin heading
  counter?: boolean
  items: {
    ['like-btn-name': string]: {
      personName: string,
      iconPath: string,
      date: dateString,
      dateText: string,
      content: string,
      likeButtonCounter: number,
      isLikeButtonChecked: boolean
    } 
  }
  Tip: mixin also uses 'and attributes'(&attributes)

mixin comments({ heading = '', headingMarginBottom = 'large', counter = false, items = {}} = {})
  .comments&attributes(attributes)
    if heading
      .comments__heading
        +heading(heading, { marginBottom: headingMarginBottom })
    if counter
      span.comments__counter= `${Object.keys(items).length.toLocaleString()} отзыва`
    .comments__items
      each item, key in items
        article.comments__item
          .comments__icon-item
            +picture(item.iconPath, 'Иконка комментирующего')
          .comments__source-item
            h3.comments__name-item= item.personName
            p.comments__date-item
              time(datetime=item.date)= item.dateText
          p.comments__content-item= item.content
          .comments__like-button-item
            +form-like-button({ name: `${key}-like-button`, counter: item.likeButtonCounter, checked: item.isLikeButtonChecked })
