include ~@pug/mixins/picture.pug

//- id: id of slideshow
//- class: class for component bem mix: such as positioning functionality
//- name: {string} - name of radio group
//- paths: {Array<string>} - paths for images
mixin slideshow
  .slideshow(id=attributes.id, class=attributes.class)
    -
      let pictureID;
      let labelID = attributes.name + (attributes.paths.length - 1);

      const RADIO_CONTAINER_RIGHT_OFFSET = 15;
      const RADIO_SIZE = 7.5;
      const RADIO_GAP = 7.5 / 2;
      let reverseOrderIndex;
    each path, index in attributes.paths
      -
        pictureID = attributes.name + index;

        reverseOrderIndex = attributes.paths.length - index - 1;
        const rightRadioOffset = RADIO_CONTAINER_RIGHT_OFFSET + RADIO_SIZE * reverseOrderIndex + RADIO_GAP * reverseOrderIndex;
      input.slideshow__radio(
        id=pictureID,
        type="radio",
        name=attributes.name,
        checked=index == 0 ? 'checked' : null,
        style=`right: ${rightRadioOffset}px`
      )
      label.icon.slideshow__switcher(for=labelID)= `View ${labelID}`
      +picture.slideshow__picture(path=path, alt=pictureID)
      - labelID = pictureID;
    label.icon.slideshow__switcher(for=pictureID)= `View ${pictureID}`
    label.icon.slideshow__switcher(for=attributes.name + 0)= `View ${attributes.name + 0}`
