include ~@common.blocks/primitives/icon/icon.pug
include ~@common.blocks/primitives/picture/picture.pug

//-
  name?: string - name of radio group
  paths: string[] - paths for images
  Tip: mixin also uses 'and attributes'(&attributes)
mixin slideshow({ name = 'slideshow', paths = [] } = {})
  .slideshow.js-slideshow&attributes(attributes)
    -
      let pictureID;
      let labelID = `${name}-${(paths.length - 1)}`;

      const radioContainerRightOffset = 15;
      const radioSize = 7.5;
      const radioGap = 7.5 / 2;
    each path, index in paths
      -
        pictureID = `${name}-${index}`;

        const reverseOrderIndex = paths.length - index - 1;
        const rightRadioOffset =
          radioContainerRightOffset + radioSize * reverseOrderIndex + radioGap * reverseOrderIndex;
      input.slideshow__radio(
        id=pictureID,
        type="radio",
        name=name,
        checked=index === 0 ? true : false,
        style=`right: ${rightRadioOffset}px`
      )
      label.slideshow__switcher(
        for=labelID,
        title=`К изображению №${index === 0 ? paths.length : index}`
      )
        span.slideshow__switcher-icon
          +icon({ content: 'expand_more' })
      .slideshow__picture.js-slideshow__picture
        +picture(path, `Изображение ${index + 1}`, { size: 'contain' })
      - labelID = pictureID;
    label.slideshow__switcher(for=pictureID, title=`К изображению №${paths.length}`)
      span.slideshow__switcher-icon
        +icon({ content: 'expand_more' })
    label.slideshow__switcher(for=`${name}-0`, title=`К изображению №1`)
      span.slideshow__switcher-icon
        +icon({ content: 'expand_more' })
