include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/form-toggle/form-toggle.pug
include ~@common.blocks/containers/form-radio-buttons/form-radio-buttons.pug
include ~@common.blocks/primitives/button/button.pug

//- id: {string} - id of card
//- class: {string} - class for component bem mix: such as positioning functionality
//- name: {string} - name of <form>, also it is used such prefix for names of inner forms
//- action: {string} - form action
//- method: {"get" | "post"} - form method
//- target: {("_self"|null)|"_blank"|"_parent"|"_top"} - form target
//- href: {string} - redirect href for page of entrance
mixin card-registration
  form.card-base.card-registration(
    id=attributes.id,
    class=attributes.class,
    name=attributes.name,
    action=attributes.action,
    method=attributes.method || 'post',
    target=attributes.target
  )
    h1.card-registration__title Регистрация аккаунта
    +form-text-field.card-registration__name-field(
      name=`${attributes.name}-name`,
      placeholder="Имя"
    )
    +form-text-field.card-registration__surname-field(
      name=`${attributes.name}-surname`,
      placeholder="Фамилия"
    )
    +form-radio-buttons.card-registration__gender-radio-btn(
      name=`${attributes.name}-gender`,
      buttons={ isMale: { id: 'isMaleRadio', itemLabel: 'Мужчина', checked: 'checked' }, isFemale: { id: 'isFemaleRadio', itemLabel: 'Женщина' } }
    )
    +form-text-field.card-registration__birthday-field(
      label="Дата рождения",
      type="date",
      name=`${attributes.name}-birthday`
    )
    +form-text-field.card-registration__email-field(
      label="Данные для входа в сервис",
      type="email",
      name=`${attributes.name}-email`
    )
    +form-text-field.card-registration__password-field(
      type="password",
      name=`${attributes.name}-password`
    )
    +form-toggle#special-offer-toggle.card-registration__special-offer-toggle(
      name=`${attributes.name}-specialOffers`,
      itemLabel="Получать спецпредложения"
    )
    +button.card-registration__link-btn(
      type="submit",
      value="Перейти к оплате",
      modClass="link"
    )
    p.card-registration__caption-of-redirect-to-entering Уже есть аккаунт на Toxin
    a.card-registration__switch-btn(href=attributes.href)
      +button(type="button", value="Войти", modClass="bordered")
