include ~@common.blocks/primitives/heading/heading.pug

//-
  heading?: see mixin heading
  headingMarginBottom?: marginBottom in mixin heading
  buttons: {
    [value: string]: {
      label: string,
      checked?: boolean
  }}
  name?: string - name of group
  disabled?: boolean - same as fieldset disabled (disable all buttons)
  isFilter?: boolean - if true, change event will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-radio-buttons({ heading = '', headingMarginBottom = 'large', name = 'radio', buttons = {}, disabled = false, isFilter = false } = {})
  .form-radio-buttons&attributes(attributes)
    if heading
      .form-radio-buttons__heading
        +heading(heading, { marginBottom: headingMarginBottom })
    fieldset.form-radio-buttons__fieldset(disabled=disabled)
      each btn, key in buttons
        .form-radio-buttons__item
          input.form-radio-buttons__button-item(
            id=key,
            type="radio",
            name=name,
            data-is-filter=isFilter,
            checked=btn.checked,
            value=key
          )
          label.form-radio-buttons__label-item(for=key)= btn.label
