//- name: name of group
//- buttons: {
  name1:{
    id:string,
    itemLabel:string,
    checked: 'checked'
  },
  name2:{
    id:string,
    itemLabel:string,
    checked: ''
  },...}
//- id?: id of radio buttons' container
//- class?: class for component bem mix: such as positioning functionality
//- isFilter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- label?: text of label
//- disabled?: same as fieldset disabled (disable all buttons)
mixin form-radio-buttons
  .form-radio-buttons(id=attributes.id, class=attributes.class)
    if attributes.label
      h3.form-label.form-radio-buttons__label
        label(for=attributes.id)= attributes.label
    fieldset(disabled=attributes.disabled)
      each btn, key in attributes.buttons
        .form-radio-buttons__item
          input.form-radio-buttons__button-item(
            id=btn.id,
            type="radio",
            name=attributes.name,
            isFilter=attributes.isFilter ? attributes.isFilter + '' : null,
            checked=btn.checked,
            value=key
          )
          if btn.itemLabel
            label.form-radio-buttons__label-item(for=btn.id)= btn.itemLabel
