include ~@common.blocks/primitives/heading/heading.pug

//-
  heading?: see mixin heading
  headingMarginBottom?: marginBottom in mixin heading
  name?: string - name of group
  rate: number - init rate amount
  length?: number - number of stars
  titles?: string[] - stars titles(hints)
  disabled?: boolean - same as fieldset disabled (disable all buttons)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-rate-button({ heading = '', headingMarginBottom = 'large', name = 'rate', rate = 3, length = 5, titles = ['очень плохо', 'плохо', 'нормально', 'хорошо', 'очень хорошо'], disabled = false } = {})
  .form-rate-button&attributes(attributes)
    -
      let counter = length;
    if heading
      +heading(heading, { marginBottom: headingMarginBottom })
    fieldset.form-rate-button__rating(disabled=disabled)
      while counter > 0
        -
          const currentID = `${name}-${counter}`;
          const checked = counter === rate ? 'checked' : undefined;
        input.form-rate-button__button-item(
          id=currentID,
          type="radio",
          name=name,
          checked=checked,
          value=counter
        )
        label.form-rate-button__icon(for=currentID, tabindex="0", title=titles[counter - 1])= `количество звезд: ${counter}`
        - counter -= 1;
