include ~@common.blocks/primitives/heading/heading.pug

//- 
  heading?: see mixin heading
  headingMarginBottom?: marginBottom in mixin heading
  type?: 'detailed' - type of component
  buttons: {
    [name: string]: {
      label: string,
      description?: string, // additional for 'detailed' type
      checked?: boolean
    }
  }
  disabled?: boolean - same as fieldset disabled (disable all buttons)
  isFilter?: boolean - if true, change event will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-checkbox-buttons({ heading = '', headingMarginBottom = 'large', type = '', buttons = {}, disabled = false, isFilter = false } = {})
  -
    const typeClass = type ? `form-checkbox-buttons_type_${type}` : undefined;
  .form-checkbox-buttons(class=typeClass)&attributes(attributes)
    if heading
      .form-checkbox-buttons__heading
        +heading(heading, { marginBottom: headingMarginBottom })
    fieldset.form-checkbox-buttons__fieldset(disabled=disabled)
      ul.form-checkbox-buttons__list
        each btn, key in buttons
          li.form-checkbox-buttons__item
            input.form-checkbox-buttons__button-item(
              id=key,
              type="checkbox",
              name=key,
              data-is-filter=isFilter,
              checked=btn.checked
            )
            label.form-checkbox-buttons__label-item(for=key)= btn.label
            if btn.description
              p.form-checkbox-buttons__description= btn.description
