//- buttons: {
  name1:{
    id:string,
    itemLabel:string,
    description:string, // additional for "rich" mod
    checked: 'checked'
  },
  name2:{
    id:string,
    itemLabel:string,
    description:string, // additional for "rich" mod
    checked: ''
  },...}
//- id?: id of checkbox buttons' container
//- class?: class for component bem mix: such as positioning functionality
//- isFilter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- label?: text of label
//- mod?: "rich" - mod of component
//- disabled?: same as fieldset disabled (disable all buttons)
mixin form-checkbox-buttons
  - const modClass = attributes.mod ? 'form-checkbox-buttons_' + attributes.mod : null;
  .form-checkbox-buttons(id=attributes.id, class=modClass, class=attributes.class)
    if attributes.label
      h3.form-label
        label(for=attributes.id)= attributes.label
    fieldset(disabled=attributes.disabled)
      ul.form-checkbox-buttons__list
        each btn, key in attributes.buttons
          li.form-checkbox-buttons__item
            input.form-checkbox-buttons__button-item(
              id=btn.id,
              type="checkbox",
              name=key,
              isFilter=attributes.isFilter ? attributes.isFilter + '' : null,
              checked=btn.checked
            )
            if btn.itemLabel
              label.form-checkbox-buttons__label-item(for=btn.id, data-description=btn.description)= btn.itemLabel
