include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/icon/icon.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
//-
  heading?: see mixin heading
  buttons: see mixin form-checkbox-buttons
  checked?: boolean - open the list
  disabled?: see mixin form-checkbox-buttons
  isFilter?: see mixin form-checkbox-buttons
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-expandable-checkbox-list({ heading = 'expandable-checkbox-list', buttons = {}, checked = false, disabled = false, isFilter = false } = {})
  .form-expandable-checkbox-list.js-form-expandable-checkbox-list
    -
      const expanderID =
        Object.keys(buttons).reduce((acc, current) => acc + current) + Math.random();
    .form-expandable-checkbox-list__title
      +heading(heading, { isLabel: true, labelJustifyContent: 'spread' })(
        for=expanderID,
        tabindex="0"
      )&attributes(attributes)
        span.form-expandable-checkbox-list__expand-icon
          +icon({ content: 'expand_more', width: 'large' })
    input.form-expandable-checkbox-list__expander-input.js-form-expandable-checkbox-list__expander-input(
      id=expanderID,
      type="checkbox",
      checked=checked
    )
    .form-expandable-checkbox-list__list.js-form-expandable-checkbox-list__list
      +form-checkbox-buttons({ buttons, disabled, isFilter })
