include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
//- label: text of label
//- buttons: {
  name1:{
    id:string,
    itemLabel:string,
    checked: 'checked'
  },
  name2:{
    id:string,
    itemLabel:string,
    checked: ''
  },...}
//- id?: id of expander
//- class?: class for component bem mix: such as positioning functionality
//- isFilter?: {boolean} - if true, change event will reload page with chosen value(get method)
//- checked?: open the list
//- disabled?: same as fieldset disabled (disable all buttons)
//- Tip: be careful if use large amount of items: max-height limited by 32em for transition animation
mixin form-expandable-checkbox-list
  .form-expandable-checkbox-list(class=attributes.class)
    h3.form-expandable-checkbox-list__expander
      label(for=attributes.id)= attributes.label
      input(id=attributes.id, type="checkbox", checked=attributes.checked)
      label.icon.form-expandable-checkbox-list__expand-icon(for=attributes.id)
      +form-checkbox-buttons.form-expandable-checkbox-list__list(
        buttons=attributes.buttons,
        isFilter=attributes.isFilter ? attributes.isFilter + '' : null,
        disabled=attributes.disabled
      )
