include ~@common.blocks/primitives/heading/heading.pug

//-
  name?: string - name of slider form
  range: { min: number, max: number }
  start: number[]
  step?: number
  heading?: see mixin heading
  description: string - appended text after slider
  isFilter?: boolean - if true, input change event will reload page with chosen value(get method), default is false
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-range-slider({ name = 'range-slider', range = { min: -100, max: 100 }, start = [0, 0], step = undefined, heading = { h3: 'range slider' }, description = '', isFilter = false } = {})
  .form-range-slider.js-form-range-slider&attributes(attributes)
    .form-range-slider__label
      +heading(heading, { marginBottom: 'none' })
    each val, index in start
      input.form-range-slider__input.js-form-range-slider__input(
        name=`${name}-${index}`,
        type="range",
        min=range.min,
        max=range.max,
        value=val,
        step=step,
        data-is-filter=isFilter
      )
    output.form-range-slider__result.js-form-range-slider__result(name=name)
    .form-range-slider__slider.js-form-range-slider__slider
    if description
      p.form-range-slider__description= description
